#logo {
  background-color: none;
  border-style: none;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
