@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "base/typography";
@import "pages/header";

section {
  + section {
    + section {
      padding-bottom: 10vh;
      background-color: none;
      + section {
        padding-bottom: 10vh;
        background-color: none;
        + section {
          padding-top: 5vh;
          padding-bottom: 5vh;
          background-color: #cdcdcd;
          text-align: center;
          color: white;
        }
      }
    }
  }
}
